<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./static/style.css" />
    <title>Yellow Pages API</title>
  </head>
  <body>
    <div class="text">
      <h2>This page hosts the route for Yellow Pages API.</h2>
    </div>
    <div class="btn-class"><a href="/yellow-pages-api" class="btn">API</a></div>
  </body>
</html>
